body{
    background: url(../images/525478058.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    padding-top: 50px;
    padding-bottom: 20px;
} 

#remember{
    
    padding-left: 0px;

    padding-right: 0px;
    
}

#rem-me{
    
    padding-right: 0px;
    
}


.authorizationDiv{
    
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

